#This file EXCLUDES the following from being pushed to Github Repo!

# Secret variables (passwords etc):
.env*
!.env_example # Exception
# Reverse Proxy
!caddy/
!caddy/Dockerfile # Exception
# Web Server:
!nginx/
!nginx/default.conf # Exception
!nginx/Dockerfile # Exception
# PHP-FPM Application:
!wordpress/
!wordpress/Dockerfile # Exception
# Application RDBMS:
!mariadb/
# Redis Cache
!redis/

# TSUKI.DIGITAL PHP settings:
uploads.ini
