#This file EXCLUDES the following from being pushed to Github Repo!

# Secret variables (passwords etc):
.env*
!.env_example # Exception
# Application configs & logs:
config/
logs/
data/
# Web Server
caddy/
!caddy/Dockerfile # Exception
# Application Server:
nginx/
!nginx/default.conf # Exception
# PHP-FPM Application:
wordpress/
# Application RDBMS:
mariadb/
# Redis
redis/
# TSUKI.DIGITAL PHP settings:
uploads.ini
