##Example Caddyfile config for a reverse proxy

www.${YOUR_DOMAIN}, ${YOUR_DOMAIN} {

				proxy / appServer:8080{  #This is the name of your NGINX container
					proxy_header Host {host}
					proxy_header X-Real-IP {remote}
					proxy_header X-Forwarded-Proto {scheme}
				}

				header / {
					#Include any headers for your site here
				}

				gzip

				tls ${TLS_EMAIL} #Your email for Let's Encrypt Verification
}