{
        "experimental_http3": true
}
www.${YOUR_DOMAIN}, ${YOUR_DOMAIN} {
reverse_proxy nginx:8080
encode gzip zstd
tls {
    ${TLS_EMAIL} 
    ${CADDY_SSL} 
    dns cloudflare S{CLOUDFLARE_API_TOKEN}
}
}